.MuiCardMedia-img {
  width: 350px !important;
  height: 200px;
  padding: 0 5px;
}

body {
  background-color: #121212;
}

.card {
  background-color: #323232 !important;
}

span,
p,
h1 {
  color: white !important;
}

h1 {
  text-align: center;
}
